# =========================
# Environment Variables
# =========================
.env
backend/.env

# =========================
# Python Virtual Environment
# =========================
venv/
backend/venv/

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc

# =========================
# Uploads
# =========================
backend/app/uploads/

# =========================
# Frontend
# =========================
frontend/node_modules/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Dataset Generation Files
# =========================
EasyOCR.py
data_extraction.py

# =========================
# Datasets
# =========================
Resumes Datasets/
data/
complete_resume_dataset.csv
final_complete_resume_dataset.csv
node_modules
