/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{

    font-family:"Poppins",sans-serif;

    background:#f4f7fb;

    color:#1f2937;

}

/* Links */

a{

    text-decoration:none;

    color:inherit;

}

/* Buttons */

button{

    font-family:inherit;

}

/* Images */

img{

    max-width:100%;

    display:block;

}