.recommendation-panel{

    background:#fff;

    border-radius:20px;

    padding:25px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    animation:slideRight .5s ease;

}

.recommendation-panel h2{

    margin-bottom:20px;

    color:#2563eb;

    font-size:24px;

}

.recommendation-list{

    display:flex;

    flex-direction:column;

    gap:5px;

}


@keyframes slideRight{

    from{

        opacity:0;

        transform:translateX(40px);

    }

    to{

        opacity:1;

        transform:translateX(0);

    }

}


